[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
