[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/hulakdar/glfw
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
